name: x86-64-assembly / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gcc
          - os: ubuntu-latest
            compiler: clang
          - os: macos-latest
            compiler: clang

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Install project dependencies (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update -q
          sudo apt-get install -y nasm

      - name: Install project dependencies (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          export NASM_VERSION=2.14.02
          curl -O https://www.nasm.us/pub/nasm/releasebuilds/${NASM_VERSION}/macosx/nasm-${NASM_VERSION}-macosx.zip
          unzip nasm-${NASM_VERSION}-macosx.zip
          echo $(pwd)/nasm-${NASM_VERSION} >> $GITHUB_PATH
 
      - name: Run exercism/x86-64-assembly ci (runs tests) for all exercises
        env:
          CC: ${{ matrix.compiler }}
          CC_FOR_BUILD: ${{ matrix.compiler }}
        run: bin/verify-exercises
